/* Hero Section */
.hero-content {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 128px 0;
    margin-top: 52px;
    margin-bottom: 0;
}

.hero-title {
    font: var(--title-M);
    color: var(--text-default);
    letter-spacing: -0.02em;
    margin-bottom: 12px;

    @media (max-width: 768px) {
        margin-bottom: 0;
    }
}

.hero-subtitle {
    font: var(--title-S);
    color: var(--text-default);
    margin-bottom: 48px;
}

/* Projects Section */
.projects-container {
    width: 100%;
    overflow: visible;

    @media (max-width: 768px) {
        overflow: hidden;
    }
}

.projects-wrapper {
    display: flex;
    gap: 16px;
    transition: transform 0.2s ease-out;

    @media (max-width: 768px) {
        flex-direction: column;
        overflow: hidden;
        transform: none !important;
    }
}

.project-card {
    flex-shrink: 0;
    width: calc(50% - 8px);
    scroll-snap-align: start;

    &.card-green {
        background-color: #ECF0E9;
    }

    &.card-white {
        background-color: #EBF1F5;
    }

    &.card-brown {
        background-color: #F2ECE6;
    }

    &.card-orange {
        background-color: #EDECE6;
    }

    &.card-grey {
        background-color: #EBEEF0;
    }

    @media (max-width: 768px) {
        width: 100%;
        scroll-snap-type: none;
    }
}

.project-card:hover .arrow-down-right::after {
    transform: rotate(45deg);
}

/* GDDs Section */
.gdds-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;

    @media (max-width: 768px) {
        flex-direction: column;
        overflow: hidden;
    }
}

.gdd-card {
    flex: 1 0;
    height: 500px;
    justify-content: space-between;

    @media (max-width: 768px) {
        height: auto;
    }
}

.gdd-card:hover {
    transform: translateY(-4px);
}

/* About Section */
.about-text,
.contact-text {
    font: var(--body-L);
    color: var(--text-default);
    margin-bottom: 24px;
}

.expandable-text {
    padding: 4px 8px;
    color: var(--text-default);
    background-color: var(--surface-link);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--text-accent);
    }
}

.hidden-text {
    display: none;
    color: var(--text-default);
}

.typing-char {
    position: relative;
}

/* Contact Section */
.contact-links {
    display: flex;
    flex-direction: row;
    gap: 32px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 16px;
    }
}